# https://clangd.llvm.org/config
CompileFlags:
  Add: [-std=c++23]

If:
  PathMatch: ./bench/demo/
  CompileFlags:
    CompilationDatabase: ./bench/demo/build

If:
  PathMatch: ./bench/std_isdigit/
  CompileFlags:
    CompilationDatabase: ./bench/std_isdigit/build

If:
  PathMatch: ./bench/string_view_or_string/
  CompileFlags:
    CompilationDatabase: ./bench/string_view_or_string/build

If:
  PathMatch: ./demos/multithreads_read_same_file/
  CompileFlags:
    CompilationDatabase: ./demos/multithreads_read_same_file/build

If:
  PathMatch: ./demos/insert_to_mysql/
  CompileFlags:
    CompilationDatabase: ./demos/insert_to_mysql/build


If:
  PathMatch: ./pieces/boost_message_queue/
  CompileFlags:
    CompilationDatabase: ./pieces/boost_message_queue/build


If:
  PathMatch: ./pieces/coroutine/
  CompileFlags:
    CompilationDatabase: ./pieces/coroutine/build

If:
  PathMatch: ./pieces/sigbug/
  CompileFlags:
    CompilationDatabase: ./pieces/sigbus/build
