# https://clangd.llvm.org/config
CompileFlags:
  Add: [-std=c++23]

If:
  PathMatch: ./bench/example/
  CompileFlags:
    CompilationDatabase: ./bench/example/build

If:
  PathMatch: ./bench/char_classifier/
  CompileFlags:
    CompilationDatabase: ./bench/char_classifier/build

If:
  PathMatch: ./bench/string_view_vs_string/
  CompileFlags:
    CompilationDatabase: ./bench/string_view_vs_string/build

If:
  PathMatch: ./demos/multithreads_read_same_file/
  CompileFlags:
    CompilationDatabase: ./demos/multithreads_read_same_file/build

If:
  PathMatch: ./pieces/boost_message_queue/
  CompileFlags:
    CompilationDatabase: ./pieces/boost_message_queue/build

If:
  PathMatch: ./pieces/coroutine_demo/
  CompileFlags:
    CompilationDatabase: ./pieces/coroutine/build

If:
  PathMatch: ./pieces/sigbug/
  CompileFlags:
    CompilationDatabase: ./pieces/sigbus/build
